html{
    font-family: 'Montserrat', sans-serif;
  
}


    
      *{
      margin: 0;
      padding: 0;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;     
       }
     
body{
    background: url(Fondo\ rosa.gif);
    background-size: 100%; 
    

}
.Enlaces {
    width: 100px;
    margin: 20px auto;
    background: #fff;
    font-size: 24px;
    overflow: hidden;
}
.Enlaces ul{
   list-style: none;
    transition: 0.2s  
}
.Enlaces > li {
    position: relative;
   display: inline-block;
   background: #000000;
}
.Enlaces > li > a{
 display: block;
padding:15px 30px;
color: #0929FA;
font-family: 'open sans';
text-decoration: none;
 transition: 0.2s;
}
.Enlaces li a:hover{
    color: #02EEEE;
    box-shadow: 0 0 10px #47FFF8, 0 0 400px 
    #47FFF8, 0 0 80px #BA47FF;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
    font-size: 24px;
    overflow: hidden;
   ;
}
.navegacion ul{
    list-style: none;
    transition: 0.2s
}

.menu > li{
   position: relative;
   display: inline-block;
   background: #000000;
 
}
.menu > li > a {
display: block;
padding:15px 30px;
color: #BE0794;
font-family: 'open sans';
text-decoration: none;
 transition: 0.2s;
 }

 .menu li a:hover{
    color: #EA32C0;
    box-shadow: 0 0 10px #EA32C0, 0 0 400px 
    #EA32C0, 0 0 80px #EA32C0; 
 }

 .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
 }

 .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
 }
header{
    background-color: #222;
    color: white;
  padding: 0.5rem 0.5rem 30px;
  
}

header h1{
    font-size: 4rem;
    text-align: center;
}

.container{
    width: 400px;
    margin:0 auto;
}

section article{
    transition: box-shadow 0.3 ease;
    background-color: rgba(17, 2, 2, 0.541);
    margin:  1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 1);
}

section article h2, section article p{
    margin: 1rem;
    color: #fff;
}


footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3 ease;
    color: #fff;
    text decoration:none;
}

footer a: hover{
    color: cornflowerblue;
}
